.whole{
    margin:5px;
    /*margin-top: 10px;*/
}
.abc{
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
    text-align: center;
}
#search{
    margin-bottom: 20px;
}
#fen{
    text-align: center;
}
.rightpanel{
    margin-right: 10px;
    /*padding-left: 10px;*/
    /*height: calc(100% - 51px);*/
    margin-top: 10px;
}
.leftpanel{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;

}
/*.rightpanel{*/
    /*margin-right: 5px;*/
    /*margin-left: 0px;*/
/*}*/
/*table{*/
    /*margin-top: 20px;*/
    /*padding-top: 10px;*/
/*}*/
.tworow{
    /*display: inline-block;*/
    padding-right: 10px;
    padding: 10px 0px 10px 0px;
    /*margin: 10px 0px 20px 0px;*/
    margin-right: -8px;
    margin-left: 5px;
    margin-top: 20px;
}
.twobtn{
    text-align: center;
}
.compcar{
    border: #1E9FFF 1px;
    width: auto;
    height: 420px;
    text-align: center;
    /*overflow-y: scroll;*/
}
.card{
    border: #cccccc 1px solid;
    display: inline-block;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    /*background-color: #1E9FFF;*/
    cursor: pointer;
}
.card:hover{
    /*background-color: #1E9FFF;*/
    box-shadow: #cccccc 3px 3px 15px;

}
.r{
    display: inline;
    margin-top: 10px;
    margin-left: 8px;
    padding: 0px;
}
tbody{
    margin-top: 20px;

}
img{
    width: 140px;
    height: 90px;

}
/*td{*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
/*}*/
/*tr{*/
    /*line-height: 80px;*/
    /*margin-top: 20px;*/
/*}*/
.choose{
    border:1px #1E9FFF;
    margin: 10px 10px;
}
.allcard{
    display: inline-block;
    text-align: center;
    width: 700px;
    height: 280px;
}