* {
	padding: 0;
	margin: 0;
}
table.treetable tr.collapsed span.indenter a {
    background-image: url(../../back/img/toggle-expand-dark.png);
}

table.treetable tr.expanded span.indenter a {
    background-image: url(../../back/img/toggle-collapse-dark.png);
}