#login-container{
    max-height: 200px;
}
body{
    background-image: url("../img/d.jpg");
    background-size: 1380px 750px;
}


#login-top{
    background-image: url("../img/d.jpg");
    background-size: 1390px 700px;
    opacity: 1;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}

#login-top a{
    font-weight: bold;
    color: #ffffff;
}

#login-box{
    background-image: url("../img/d.jpg");
    background-size: 2500px 1000px;
    opacity: 1;
    font-size: 15px;
    width: 300px;
    height: 335px;
    margin: 55px auto 50px auto;
    border-radius: 3px;
    border: 1px solid #dafafa;
    padding: 10px 15px;
    background-color: #ffffff;
}

#login-btn{
    width: 83px;
    height: 25px;
    text-align: left;
    margin-top: 5px;
    margin-left: 0;
    position: relative;
    left: 135px;
    bottom: 38px;
    margin-bottom: 10px;
    margin-bottom: 0;
}

#another-btn{
    width: 230px;
    height: 40px;
    text-align:center;
    margin-top: 4px;
    margin-left: 30px;
    position: relative;
    right: 11px;
    margin-bottom: 4px;
}


.toLogin{
    margin-top: 20px;
}

.toLogin a{
    margin-left: 10px;
    text-decoration: none;
    font-size: 12px;
    color: #666666;
}
.form-group{
    margin: 2px 20px;
}
.title{
    font-size:15px ;
}
.submit{
    margin-left: 29px;
    height: 0;
}
.submitName{
    display: block;
    text-decoration: none;
}
.system{
    font-size: 30px;
    margin:3px 18px;
    float: left;
    color:#000000
}

.welcome{
    float: right;
    margin-top: 14px;
    font-size: 16px;
}


.forgetPsd{
    margin-left:22px;
    color: #0f0f0f;
}

.register{
    margin-left: 65px;
    color: #0f0f0f;
}
.form-group-button{
    width: 5px;
}
.small{
    font-size: 12px;
}
#remember{
    margin-top: 15px;
}