* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    min-width: 200px;
}

.all{
    height: 510px;
}


.maintain{
    display: inline-block;
    min-width: 800px;
    max-height: 387px;
    border: #222222 5px solid ;
    width:75%;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 200ms linear;
    float:left;
    font-size: 16px;
}

img{
    padding:0;
    width: 500px;
    float: left;
    clear: right;
}

.textContent{
    position: relative;
    left: 50px;
    top: 30px;
    display: inline-block;

}

























