#weight-table th,
#weight-table tr,
#weight-table td
{
    text-align: left;
}
#weight-table>caption{
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
}

.form-container{
    display: block;
    margin: auto;
    padding: 4px 10px;
}

#newNodeModal form{
    display: block;
    width: 500px;
    margin: auto;
}
table.treetable tr.collapsed span.indenter a {
    background-image: url(../../back/img/toggle-expand-dark.png);
}

table.treetable tr.expanded span.indenter a {
    background-image: url(../../back/img/toggle-collapse-dark.png);
}


