* {
    margin: 0;
    padding: 0;
}

/*ul {*/
    /*margin: 0;*/
/*}*/

html,
body {
    height: 100%;
}

body {
    min-width: 900px;
}

.main {
    height: calc(100% - 51px);
}

.navbar {
    margin-bottom: 0;
}

/*.left-nav {*/
    /*float: left;*/
    /*width: 200px;*/
    /*background-color: #222;*/
    /*height: 100%;*/
/*}*/

/*a.p-nav {*/
    /*line-height: 40px;*/
    /*display: block;*/
    /*background-color: #282828;*/
    /*color: #ccc;*/
    /*padding-left: 20px;*/
    /*text-decoration: none;*/
/*}*/

a.p-nav:hover {
    background-color: #343434;
}

/*.collapse  {*/
    /*padding-left: 37px;*/
/*}*/

.collapse li a{
    display: block;
    color: #ccc;
    text-decoration: none;
}

.collapse li:hover a{
    background-color: #343434;
}

/*.s-nav li {*/
    /*list-style-type: none;*/
    /*line-height: 40px;*/
    /*background-color: #303030;*/
/*}*/

/*.s-nav li a{*/
    /*display: block;*/
    /*color: #ccc;*/
    /*text-decoration: none;*/
    /*padding-left: 36px;*/
/*}*/

.s-nav li a:hover {
    background-color: #282828;
}

.main-container {
    display: block;
    height: calc(100% - 3px);
    /*width: calc(100% - 200px);*/
    overflow-y: auto;
    padding: 20px;
    /*margin-right: 10px;*/
}
/*设置轮播图片宽度*/

.m {
    display: block;
    height: calc(100% - 3px);
}

.label {
    float: left;
    display: block;
    height: calc(100% - 3px);
    width:calc(100% - 200px);
    overflow: auto;
}
.hot .tabs .tab-tit {
    width: 100%;
    height: 35px;
    position: absolute;
    left: 0;
    top: 0;
    position: relative;
}
.img{
    text-align: center}
.t {
    float:left;
padding: 0;
    margin: 0 30px;
}

.m {
 text-align: center;

}

.k {
    max-width: 690px;
    margin: 0;
    display: inline-block;

}

.car {
    /*display: inline-block;*/
    /*position: relative;*/
    /*left: 10px;*/
    /*top: 10px;*/
    width: 200px;
    height: 150px;
    margin: 10px;

}
.content{
    /*display: inline-block;*/
    /*margin: 10px 10px 10px 20px;*/
    float: right;
    /*border:1px solid;*/
    width: 300px;
    height: 380px;
    line-height: 10px;
    margin: 0;
}
.all{
    display: inline-block;
    width: 1150px;
    height: 400px;
    /*padding-top: 10px ;*/

}
.rightpanel{
    height: 380px;
    width: 300px;
    display: inline-block;
    /*float: right;*/
    margin-right: 50px;
}
.carousel {
    /*position: relative;*/
    top: 5px;
}
.body{
    padding: 2px 15px;
    /*text-align: center;*/
}




















