
.car-image-s{
    height: 60px;
    width: 100px;
}
.tab-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 980px;
    height: 400px;
}

.table{
    text-align: center;
}

.table tr,
.table td,
.table th{
    padding: 3px 5px;
    border: 1px solid #CCCCCC;
    text-align: center;
}

.pie-container{
    width: 120px;
    height: 70px;
    display: block;
    margin: auto;
    z-index: 0;
}
